$primaryColor: #337ab7;
$colorbutton: #ffc107;

@mixin title {
    text-align: center;
    margin-bottom: 30px;
    font-size: clamp(25px,3vw,34px) ;
    color: #000;
    font-weight: 600;  
}
@mixin  button {
    background-color: $colorbutton;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    transition: .5s;
    position: relative;
    min-width: 175px;
    text-align: right;
    letter-spacing: 2px;

    animation-name: animRotate ;
    animation-duration: 1.5s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    @keyframes animRotate {
        0%{

        }
        100%{
            background-color: #d61c1c;
        }
    }
    &::before {
        content: url(../img/telephone-fill.svg);
        position: absolute;
        top: 8px;
        left: 0;
        right: 140px;
    }
    &:hover {
        text-decoration: none;
        color: #fff;
        background-color: #f0b606;
        transition: .5s;
        animation-fill-mode: forwards;
        animation-duration: 0s;
    }
}

body{
    outline: 1px solid red;
    margin: auto;
    padding: 0;
    font: 15px Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 360px;
    color: #7a7a7a;
}
//header!
.header {
    background-color: $primaryColor;
}
.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 12px;
}
.header-logo {
    width: 200px;
    height: 54px;
    border-radius: 10px 0 10px 0;
}
.header-button-link {
    @include button();
}
//First section
.first-section {
    background: url(../img/bc402f89c1017fe2a11bdcb87afc3935.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.first-container {
    max-width: 1200px;
    min-height: 80vh;
    margin: 0 auto;
    display: flex;
    align-items:flex-end;
    padding: 30px 12px;
}
.first-section-wrapper {
    background-color: $primaryColor;
    color: #fff;
    opacity: 0.7;
    width: 700px;
    padding: 30px 20px;
}
.first-section-wrapper__description {
    font-size: 21px;
}
.first-section-wrapper__button {
    width: 40px;
    height: 40px;
    background-color: $colorbutton;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: anim ;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    &:hover {
        background-color: #e5af0b;
    }
}
@keyframes anim {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
//Second section
.second-section {
    position: relative;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.2;
        background-color:$primaryColor;
    }
}
.second-container {
    max-width: 1200px;
    margin: 0 auto;
}
.second-title {
    @include title();
    position: relative;
}
.second-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    position: relative;
}
.second-left__items {
    font-size: 17px;
}
.second-left__items--fw {
    font-weight: 600;
}
.second-right__img {
    width: 100%;
    &:hover {
        animation-name: animRotate1 ;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-fill-mode: forwards;
        @keyframes animRotate1 {
            0%{
                transform: scale(1);
            }
            100%{
                transform: scale(1.05);
            }
        }
    }
}
.second-section--new-background {
    position: relative;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.2;
        background-color: $colorbutton
    }
;
}
.second-left--order {
    order: 2;
    background-color: $primaryColor;
    color: #fff;
    opacity: 1;
    padding: 20px;
    border-radius: 5px;
}
.second-left__title {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 50px;
}
.second-left__li {
    font-size: 17px;
    line-height: 40px;
}
//Third section
.third-section {
    background: url(../img/base_06fcc8df-f670-407c-81be-4cbdbb7d15cd.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.third-container {
    max-width: 1200px;
    margin: 0 auto;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.third-box {
    background-color: $primaryColor;
    color: #fff;
    opacity: 0.7;
    width: 700px;
    padding: 50px 20px;
    text-align: center;
}
.third-box__title {
}
.third-box__description {
    font-size: 21px;
    margin: 50px 0;
}
.third-box__wrapper {
    display: flex;
    justify-content: center;
    gap:10px;
}
.header-mail-wrapper {
}
.third-button-link {
    @include button();
}
.header-mail-link {
    background-color: $colorbutton;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    transition: .5s;
    position: relative;
    min-width: 282px;
    text-align: right;
    letter-spacing: 2px;
    transition: 1.0s;
    &::before {
        content: url(../img/envelope.svg);
        position: absolute;
        top: 8px;
        left: 10px;
    }
    &:hover {
        text-decoration: none;
        color: #fff;
        background-color: #d61c1c;
        transition: 1.0s;
    }
}
//Fourth section
.fourth-section {
    background: url(../img/988125050-1024x672.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 0;
}
.fourth-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.fourth-box {
    background-color: $primaryColor;
    color: #fff;
    opacity: 0.9;
    padding: 50px 20px 0; 
    text-align: center;
    width: 700px;
}
.fourth-box__title {

}
.fourth-box__description {
}
.fourth-button-wrapper {
}
.fourth-button-link {
    @include button();
}
.fourth-forms-button {
    background-color: $colorbutton;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    transition: .5s;
    position: relative;
    min-width: 165px;
    text-align: right;
    letter-spacing: 2px;
    transition: 1.0s;
    &:hover {
        text-decoration: none;
        color: #fff;
        background-color: #d61c1c;
        transition: 1.0s;
    }
}
.wer {
    position: relative;
}
.wer::before {
    content: '';
    position: absolute;
    top: 13px;
    margin-left: 15px;
    z-index: 1;
    width: 30px;
    height: 30px;
    background-size: contain;
    background: url(../img/envelope.svg) no-repeat;
}
//Fifth Section
.fifth-section{
    position: relative;
}
.fifth-section::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    background-color: #337ab7;
}
.fifth-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 12px;
}
.fifth-title {
    @include title();
}
.fifth-description {
    text-align: center;
    font-size: 22px;
    border: 1px solid #c3c3c3;
    padding: 10px 5px;
}
.fifth-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.fifth-item {
    position: relative;
    background-color: #fff;
    padding: 25px 15px;  
    text-align: center;  
}
.fifth-item__img-star {
}
.fifth-item__date {
    font-size: 14px;
    margin: 0;
}
.fifth-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}
.fifth-item__name {
    font-size: 19px;
    font-weight: 600;
}
.fifth-item__message {
    font-size: 17px;
}



@media (max-width: 992px) {
    .second-wrapper {
        grid-template-columns: 1fr;
    }
    .fifth-box {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
@media (max-width: 768px) {
    .first-container {
        min-height: 60vh;
    }
    .fifth-description {
        font-size: 18px;
    }
}
@media (max-width: 576px) {
    .header-button-link {
        text-align: center;
    }
    .header-button-link::before {
        right: 150px;
    }
    .third-box__wrapper {
        gap: 20px;
        flex-direction: column;
    }
    .third-box__description {
        margin: 30px 0;
    }
    .third-box {
        padding: 10px 5px;
    }
}

@media (max-height:600px) {
    .third-box__description {
        font-size: 21px;
        margin: 10px 0;
    }
    .third-box {
        background-color: #337ab7;
        color: #fff;
        opacity: 0.7;
        width: 700px;
        padding: 20px 20px;
        text-align: center;
    }
}