body {
  outline: 1px solid red;
  margin: auto;
  padding: 0;
  font: 15px Helvetica, Arial, sans-serif;
  max-width: 1920px;
  min-width: 360px;
  color: #7a7a7a;
}

.header {
  background-color: #337ab7;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 12px;
}

.header-logo {
  width: 200px;
  height: 54px;
  border-radius: 10px 0 10px 0;
}

.header-button-link {
  background-color: #ffc107;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  min-width: 175px;
  text-align: right;
  letter-spacing: 2px;
}
.header-button-link::before {
  content: url(../img/telephone-fill.svg);
  position: absolute;
  top: 8px;
  left: 0;
  right: 140px;
}
.header-button-link:hover {
  text-decoration: none;
  color: #fff;
  background-color: #f0b606;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.first-section {
  background: url(../img/bc402f89c1017fe2a11bdcb87afc3935.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.first-container {
  max-width: 1200px;
  min-height: 80vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 30px 0;
}

.first-section-wrapper {
  background-color: #337ab7;
  color: #fff;
  opacity: 0.7;
  width: 700px;
  padding: 30px 20px;
}

.first-section-wrapper__description {
  font-size: 21px;
}

.first-section-wrapper__button {
  width: 40px;
  height: 40px;
  background-color: #ffc107;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.first-section-wrapper__button:hover {
  background-color: #e5af0b;
}

@media (max-width: 768px) {
  .first-container {
    min-height: 60vh;
  }
}
@media (max-width: 576px) {
  .header-button-link {
    text-align: center;
  }
  .header-button-link::before {
    right: 150px;
  }
}